{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Delete Allocation Invoice Note
{% endblock %}


{% block content %}
<h3>Delete invoice notes for allocation to {{allocation.get_resources_as_string}} for PI
  {{allocation.project.pi.username}}</h3>
<hr>

<div class="card border-light">
  <div class="card-body">
    <form action="{% url 'allocation-delete-invoice-note' allocation.pk %}" method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>
                <input type="checkbox" class="check selectAll">
              </th>
              <th scope="col">Note</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
              <tr>
                <td>{{ form.DELETE }}</td>
                <td>{{ form.note.value }}</td>
                <td>{{ form.instance.author }}</td>
              </tr>
              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-secondary" href="{% url 'allocation-invoice-detail' allocation.pk %}" role="button">
            <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
            Cancel
        </a>
        <br>
      </div>
    </form>
  </div>
</div>

<script>
 $(".selectAll").on("click", function () {
     $(this)
         .parent()
         .closest("table")
         .find("input[type=checkbox]")
         .prop('checked', $(this).prop('checked'));
 });

 $("input[type=checkbox]:not(.selectAll)").on("click", function (ele) {
     $(this)
         .parent()
         .closest("table")
         .find("input[type=checkbox].selectAll")
         .prop('checked', false);
 });
</script>
{% endblock %}
