{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Remove Users from Allocation
{% endblock %}


{% block content %}
<h2>Remove users from allocation for project: {{allocation.project.title}}</h2>
<hr>

{% if formset.total_form_count > 0 %}
  <div class="card border-light">
    <div class="card-body">
      <form action="{% url 'allocation-remove-users' allocation.pk %}" method="post">
        {% csrf_token %}
        {{formset}}
        <div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-user-minus" aria-hidden="true"></i>
            Remove Selected Users from Allocation
          </button>
          <a class="btn btn-secondary" href="{% url 'allocation-detail' allocation.pk %}" role="button">
            <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
            Back to Allocation
          </a>
          <br>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <a class="btn btn-secondary mb-3" href="{% url 'allocation-detail' allocation.pk %}" role="button">
    <i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Allocation
  </a>
  <div class="alert alert-info">
    No users to remove!
  </div>
{% endif %}

{% endblock %}
