{% extends 'ras/base.html' %}
{% load i18n %}

{% block content %}
<c-layout.panels>
  <c-slot name="left">
    <c-card.fields :object="object" only>
      <c-card.fields.item label="{% trans 'Project' %}">
          {{ object.project|linkify }}
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'Start Date' %}">
          {{ object.start_date|isodate }}
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'End Date' %}">
          {{ object.end_date|isodate }}
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'Resources' %}">
          <div>
          {% for r in object.resources.all %}
            <c-ui.badge :value="r" link="{{ r.get_absolute_url }}" :color="r.resource_type.color" />
          {% endfor %}
          </div>
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'Description' %}">
          {{ object.description|placeholder }}
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'Justification' %}">
          {{ object.justification|placeholder }}
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'Status' %}">
          <c-ui.badge :value="object.status" :bg_color="object.get_status_color" />
      </c-card.fields.item>
    </c-card.fields>

    <c-card.tags :object="object" only />
  </c-slot>

  <c-slot name="right">
    <c-card.fields header="{% trans 'Attributes' %}" only>
      <c-card.fields.item label="{% trans 'Allocation Type' %}">
        {{ object.allocation_type|linkify|placeholder }}
      </c-card.fields.item>

      {% for k, v in object.attributes.items %}
      <c-card.fields.item :label="k">
        {{ v|placeholder }}
      </c-card.fields.item>
      {% endfor %}
    </c-card.fields>

    <c-card.custom_fields :object="object" only />
  </c-slot>
</c-layout.panels>
{% endblock %}
