{% extends 'ras/base.html' %}
{% load i18n %}

{% block extra_controls %}
    {% if perms.ras.add_projectallocation %}
        <a href="#" class="btn btn-primary">
            <i class="fa-solid fa-plus" aria-hidden="true"></i> {% trans "Request Allocation" %}
        </a>
    {% endif %}
{% endblock extra_controls %}

{% block content %}
<c-layout.panels>
  <c-slot name="left">
    <c-card.fields :object="object" only>
      <c-card.fields.item label="{% trans 'Owner' %}">
          {{ object.owner.first_name }} {{ object.owner.last_name }} ({{ object.owner.username }})
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'Description' %}">
          {{ object.description|placeholder }}
      </c-card.fields.item>

      <c-card.fields.item label="{% trans 'Status' %}">
          <c-ui.badge :value="object.status" :bg_color="object.get_status_color" />
      </c-card.fields.item>
    </c-card.fields>

    <c-card.tags :object="object" only />
  </c-slot>

  <c-slot name="right">
    <c-card.related_objects :object="object" :models="related_models" only />
    <c-card.custom_fields :object="object" only />
  </c-slot>
</c-layout.panels>
{% endblock %}
